.img{
  background-image: url("./paper.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 50px;
  padding-right: 70px;
  padding-left: 70px;
  padding-bottom: 50px;
}
.header{
  padding: 5px;
  background-color: #FDD48A;
  background-position: center;
  background-size: cover;
}
.block1{
  height: 170px;
  background-color: #A65600;
  border-radius: 50px;
  border: 2px solid black;
  padding-top: 55px;
  padding-left: 450px;
  font-family: "Danfo", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
  "ELSH" 0;
  font-size: 70px;
}
.block2{
  background-color: #A65600;
  border-radius: 50px;
  border: 2px solid black;
}
.h{
  padding-top: 0px;
  padding-left:500px;
  font-size: 20px;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.hh{
  font-size: 20px;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  padding-left: 25px;
}
.footer{
  padding: 5px;
  background-color: #FDD48A;
  background-position: center;
  background-size: cover;
}
.block3{
  height: 170px;
  background-color: #A65600;
  border-radius: 50px;
  border: 2px solid black;
  padding-top: 55px;
  padding-left: 50px;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-size: 20px;
}
a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link {
  color: black;
}

a:visited {
  color: #825021;
}

a:focus {
  border-bottom: 1px solid;
  background: #b06b2a;
}

a:hover {
  border-bottom: 1px solid;
  background: #b06b2a;
}

a:active {
  background: #825021;
  color: black;
}
.sel {
  background-color:#b06b2a;
}
.sel:hover {
  border-bottom: 1px solid;
  background:  #825021;
}
